[Unit]
Description=Krossbar platform logger

[Service]
ExecStartPre=-mkdir /var/log/krossbar
ExecStart=/usr/local/bin/krossbar-logger
StandardOutput=journal
Restart=always
StartLimitInterval=10s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
