[Unit]
Description=Karo platform logging

[Service]
ExecStartPre=-mkdir /var/log/karo
ExecStart=/usr/bin/karo-logger
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target
Wants=caro.bus.hub.service
